@font-face {
    font-family: "Lato-Regular";
    src: url(/fonts/Lato-Regular.ttf);
}

.container /* 10 */{
    background-image: url(../images/country.jpg);
}

.wrapper /* 10 */{
    background-image: url(../images/backimage.jpg);
}

.container,
.wrapper /* 10 */{
    display: flex;
    flex-direction: column;
    background-color: #888888;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#container /* 100 */{
    background-color: #5B6DCD;
}

.link /* 10 */ {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    border: groove 1em rgb(0, 0, 0);
    border-radius: 2em;

}

.header__heading /* 10 */ {
    display: flex;
    color: #ffffff;
    padding-bottom: 1.24%;
    border: solid #5B6DCD 10px;
    padding: 1.7%;
}

.header__top /* 10 */{
    font-size: x-large;
}

.header__top,
.header__link,
.section__link /* 10 */ {
    display: flex;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.header__link /* 10 */{
    padding-left: 500%;
}

.section__link /* 10 */{
    padding-top: 3%;
    text-decoration: none;
}

.section__link:hover,
.container__link:hover /* 20 */{
    color: palegreen;
}

.container__link /* 10 */{
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin-left: 1%;
    font-size: x-large;
}

.section,
.footer__head /* 10 */ {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    padding-top: 5%;
}

h2,
h3,
h4 /* 1 */ {
    font-weight: bold; 
}

h2 /* 1 */ {
    font-size: 200%;
    padding-bottom: 0,5%;
}

h3 /* 1 */ {
    font-size: 130%;
}

h4 /* 1 */ {
    font-size: 100%;
    padding-top: 0.5%;
}

.text /* 10 */{
    border: solid 2px;
    border-radius: 0;
    background-color: #083248;
    margin-top: 2%;
}

.footer__head /* 10 */ {
    display: flex;
    padding-top: 40%;
}

.footer__map /* 10 */ {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    width: 100%;
}